* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #141204;
}

.header-resume {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.header-resume header {
    display: flex;
}


/*Le style de la navigation*/

.header-acceuil {
    display: flex;
    padding: 20px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
    gap: 20px;
    position: absolute;
    justify-content: flex-start;
    padding-right: 20px;
}

nav a {
    color: whitesmoke;
    display: inline-block;
}

nav a:hover {
    color: lightseagreen;
}


/*Le style de la page d'acceuil*/

.home {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #000;
    padding: 20px;
}

.home .boite-header header .author {
    position: absolute;
    top: 0;
    padding: 20px;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

.home .main-home {
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: whitesmoke;
}


.main-home h1 {
    color: green;
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    margin-top: 100px;
    margin-bottom: 20px;
    text-align: left;
}

.home .main-home p {
    font-size: 30px;
    text-align: left;
}

a:hover {
    color: lightseagreen;
}

/* Responsive adjustments */
@media (max-width: 420px) {
    .boite-header header .author {
        font-size: 18px;
        padding: 10px;
    }
    nav {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 20px;
        position: relative;
        justify-content: flex-start;
        padding-right: 20px;
    }

    footer > p {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        flex-direction: column;
        align-items: center;
        margin: 50px;
        margin-left: 20px;
        margin-bottom: 0;
    
    }

    .main-home {
        padding: 15px;
    }

    .main-home h1 {
        font-size: 24px;
    }

    .main-home p {
        font-size: 16px;
    }
}



/*Ici le css pour la page de contact*/

/* Le style globale de page contact */

.body-contact {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    padding: 20px;
}

.body-contact header {
    position: relative;
}

.body-contact header .author {
    position: absolute;
    top: 0;
    padding-bottom: 30px;
    overflow: hidden;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}


/* Pour centrer le formulaire */
.body-contact main {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.body-contact .main-contact {
    width: 100%;
    max-width: 600px;
    margin: auto;
    margin-top: 60px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    background-color: #fff;
    overflow: hidden;
    border-radius: 8px;
}

.body-contact h1 {
    color: green;
    font-family: 'Helvetica', sans-serif;
    font-size: 28px;
    margin-bottom: 20px;
}

.body-contact p {
    margin-bottom: 20px;
}

/*Conseiller par chatgpt (J'avais de la misère avec le css pour le formulaire.)*/
.body-contact form {
    display: grid;
    grid-gap: 10px;
}

.body-contact :is(input[type="text"], input[type="tel"], input[type="email"], textarea, select)
{
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.body-contact button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: green;
    color: white;
    cursor: pointer;
    margin-right: 10px;
}

.body-contact button:hover {
    background-color: green;
}

/* Adaptabilité pour écran étroit */
@media (max-width: 420px) {
    .body-contact {
        padding: 10px;
    }

    .body-contact .author {
        font-size: 18px;
        padding: 10px;
    }

    .body-contact .main-contact {
        padding: 15px;
    }
}


/*partie image de la page à propos*/

/*style général */
.body-bio {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #000;
    padding: 20px;
}

.body-bio header .author {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

.body-bio main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #333;
}

.body-bio h1, .body-bio h2 {
    color: green;
    font-family: 'Helvetica', sans-serif;
}

.body-bio p, .body-bio a {
    color: whitesmoke;
}

.body-bio h1 + p {
    font-size: 30px;
}

.body-bio h2 + p {
    font-size: 30px;
}

.body-bio a:hover {
    color: lightseagreen;
}

/* Donner le même style aux images et la video*/
.body-bio img,
.body-bio video {
    width: 100%;
    max-width: 600px;
    height: auto;
    display: block;
    /*Pour centrer les éléments*/
    margin: 20px auto;
}

/* Ajustement pour les écrans étroits */
@media (max-width: 420px) {
    .body-bio header .author {
        font-size: 18px;
        padding: 10px;
    }

    .body-bio main {
        padding: 15px;
    }
}



/*partie image de la page CV*/

/* Positionnement du logo en haut à gauche*/
.body-resume .header-resume .author {
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    font-family: 'Helvetica', sans-serif;
    font-size: 30px;
    color: whitesmoke;
}

/* Pour s'assurer que le contenu header n'est pas caché par la position du logo */
.body-resume .header-resume {
    position: relative;
    padding-top: 60px;
}


.body-resume {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #fff;
    background-color: #000;
    padding: 20px;
}

.main-content {
    max-width: 800px;
    margin: auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    color: #333;
}

.main-resume {
    margin-top: 20px;
}

section {
    margin-bottom: 20px;
}

.body-resume :is(h1, h2, h3) {
    color: green;
    font-family: 'Helvetica', sans-serif;
}

h1 {
    margin-bottom: 10px;
    font-size: 28px;
}

h2 {
    margin-bottom: 8px;
    font-size: 24px;
    border-bottom: 2px solid #e2e2e2;
    padding-bottom: 4px;
}

h3 {
    margin-bottom: 6px;
    font-size: 20px;
}

ul {
    list-style-position: inside;
    margin-top: 10px;
}

li {
    margin-bottom: 4px;
    line-height: 1.4;
    font-family: 'Times New Roman', serif;
}


ul {
    padding-left: 20px;
}

/* Compatibilité pour écran étroit */
@media (max-width: 420px) {
    .body-resume {
        padding: 10px;
    }

    .main-content {
        padding: 15px;
    }

    .body-resume h1 {
        font-size: 22px;
    }

    .body-resume h2 {
        font-size: 18px;
    }

    .body-resume h3 {
        font-size: 16px;
    }

    .body-resume ul {
        padding-left: 15px;
    }
}

/*Css pour donner une forme ronde à l'image*/
.conteneur-img {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    overflow: hidden;
}

.conteneur-img img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



/*Partie footer*/

footer nav {
    margin: 20px;
}

footer {
    display: flex;
}

footer :is(p, a) {
    color: whitesmoke;
}

footer a:hover {
    color: lightseagreen;
}

footer > p {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: 50px;
    margin-left: 20px;
    margin-bottom: 0;

}